:root {
  --primary: #d5f5f1;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.main {
  background-color: var(--primary);
  height: 100vh;
}


.content {
  height: 90vh;
  display: grid;
  /* background-color:aqua; */
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.left_side_bar {
  grid-column: 1/ 2;
  grid-row: 1/ 6;
  border-right: 2px solid black;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: lightblue; */
  height: 1fr;
}



.main_content {
  grid-column: 2/ 5;
  grid-row: 1/ 6;
  /* background-color: lightcoral; */
}

.Right_side_bar {
  grid-column: 5/6;
  grid-row: 1/6;
  border-left: 2px solid black;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-y: auto; */
  /* background-color: rgb(4, 130, 130); */
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* or any background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ddd;
  border-top-color: #fbd238;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
